table {
  width: 80%;
  margin: 0 auto;
}

thead {
  background-color: gainsboro;
  color: #333;
}

thead th{
  padding: 1em;
}

.mt-5 {
  margin-top: 3em;
}

.ml-5 {
  margin-left: 5em;
}

.table {
  border-collapse: collapse;
}


.mt-3 {
  margin-top: 1em;
  margin-bottom: 1em;
}
