<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2 class="text-center">New Post</h2>

        <div class="container" fxLayout="row" fxLayoutAlign="center none">
          <div fxFlex="50%" class="text-center no-records animate">

              <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text" [(ngModel)]="postDetails.title" class="form-control" placeholder="Title" autocomplete="off"/>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Content</mat-label>
                <textarea matInput [(ngModel)]="postDetails.content" name="content" #content="ngModel" ></textarea>
              </mat-form-field>

              <div class="form-group">
                <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" accept="image/*">
              </div>

              <div class="form-group mt-5" *ngIf="isUploaded">
                <img src="{{postDetails.image}}" alt="{{postDetails.title}}" height="150">
              </div>

              <div class="form-group mt-5">
                <button mat-raised-button color="primary" (click)="addPost()">Create Post</button>
              </div>

          </div>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>


